@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.wapper {
    width: 100%;
    overflow: hidden;
}

.header__nav {
    height: 37px;
    background-color: #ececec;
    box-shadow: 0 30px 50px #f5f5f5;
}

.header__category {
    text-align: right;
    margin-right: 20px;
}

.header__category>li {
    display: inline-block;
}

.header__category>li>a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s linear;
}

.header__category>li {
    padding: 0 4px;
}

.header__category>li>a:hover {
    color: #dc3545;
}

.header__categoryProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0 30px 50px #ccc;

}

.header__logo>a>img {
    width: 60px;
    height: 80px;
}
.header__listCategory>li {
    display: inline-block;
    margin: 0 20px;
}

.header__listCategory>li>a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s linear;
    font-size: 18px;

}

.header__listCategory>li>a:hover {
    color: #dc3545;
}

.header__search {
    /* background-color: #ececec; */
    padding: 8px;
    border-radius: 6px;
}

.header__search > form > input {
    outline: none;
    border: 1px solid #333;
    padding: 5px;
    border-radius: 5px;
}

.header__search > form > button {
    outline: none;
    border: none;
    background-color: #CCC;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500px;
}

.header__search>button:hover {
    opacity: 0.8;
}

::placeholder {
    font-size: 14px;
}

.bx-user-circle,
.bx-cart {
    color: #000;
    font-size: 45px;
}

.header__quantity {
    background-color: #000;
    color: #fff;
    padding: 0 3px;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    right: 25px;
}

/* header--slideshow */
.mySlides {
    display: none;
}
/* Fading animation */
.fade-img {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* end-slideshow */
.header__bottom {
    display: flex;
    justify-content: space-between;
    margin: 40px 30px;
    overflow: hidden;
}

.header__bottom>a>img {
    width: 700px;
}

.header__bottom>a>img:hover {
    transition: all ease 1.5s;
    scale: 1.03;
}

.main__football {
    text-align: center;
    margin-top: 20px;
}

.main__name>h2 {
    margin: 50px 0;
}

.main__list {
    margin: 40px 0;
}

.main__list>li {
    display: inline-block;
}

.active {
    border: 2px solid black !important;
    color: #000 !important;
}

.main__list>li>a {
    margin: 0 15px;
    border: 2px solid gray;
    padding: 5px 10px;
}

.main__list>li:hover>a {
    color: #000;
    border: 2px solid black;
    transition: all linear 0.4s;
}

.main__list>li>a {
    text-decoration: none;
    font-size: 18px;
    color: #ccc;
}

.main__listProduct {
    padding: 0 60px;
}

.main__product {
    max-width: 310px;
    height: 400px;
    /* overflow: hidden; */
    position: relative;
    margin: 10px 0;
}

.img_product {
    width: 330px;
}

.main__product:hover .img_product {
    scale: 1.06;
    transition: all linear 1.6s;
    filter: brightness(90%);
}

.title_product {
    max-width: 340px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 15px;
}
.title_product > a {
    text-decoration: none;
    color: #000;
}
.title_product > a:hover {
    color: #dc3545;
    text-decoration: none;
 }

.price_product {
    color: gray;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
}

.title_product:hover {
    color: #dc3545;
    cursor: pointer;
    transition: all linear 0.2s;
}

.main__btn {
    position: absolute;
    top: 65%;
    left: 20%;
    display: none;
}

.btn-add,
.btn-buy {
    outline: none;
    border: none;
    padding: 0 5px;
    background-color: #fff;
    color: black;
    transition: all linear 0.3s;
    margin: 0 2px;
}

.btn-add:hover {
    background-color: #000;
    color: #fff;
}

.btn-buy:hover {
    background-color: #000;
    color: #fff;
}

.main__product:hover>.main__btn {
    display: block;
    animation: fadeout 0.4s linear;

}

@keyframes fadeout {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main__listProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

#main__topProduct {
    width: max-content;
    margin-top: 30px;
    margin: auto;
    overflow: hidden;
    /* position: relative; */
}

.item__product {
    width: 300px;
    height: 300px;
    /* background-position: 50% 50%; */
    background-size: 100%;
    display: inline-block;
    transition: 1s;
    position: absolute;
    z-index: 1;
}

.item__product:nth-child(1) {
    transform: translate(-220%);
}

.item__product:nth-child(2) {
    transform: translate(-105%);
}

.item__product:nth-child(3) {
    transform: translate(8%);
}

.item__product:nth-child(4) {
    transform: translate(120%);
}

.item__product:nth-child(n+5) {
    transform: translate(220%);
    opacity: 0;
}

.item__product .item__content {
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 100%;
    font-family: system-ui;
    text-align: center;
    box-shadow: 0 30px 50px #b9b9b9;
    transition: all linear 0.8s;
    overflow: hidden;
    max-height: 0;
}

.item__product:hover>.item__content {
    max-height: 200px;
}

.main__btnchange {
    position: relative;
}

#pre {
    position: absolute;
    left: 20px;
    cursor: pointer;
    top: 100px;
    z-index: 19999;
    border: 1px solid black;
    padding: 5px 9px;
    border-radius: 50%;
}

#pre:hover {
    background-color: #bac383;
}

#next {
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 19999;
    top: 100px;
    border: 1px solid black;
    padding: 5px 9px;
    border-radius: 50%;
}

#next:hover {
    background-color: #bac383;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 35px;
}

/* footer */
.footer {
    margin-top: 370px;
}
.footer__logo {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
}
.footer__logo>a>img {
    width: 140px;   
}
.footer__logo > a >img {
    margin-left: 100px;
    margin-right: 50px;
}
.footer__tutorial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.footer__chinhsach > li {
    list-style: none;
    margin: 10px 0;
}
.footer__chinhsach > li:first-child {
    font-size: 22px;
    font-weight: bold;
}
.footer__chinhsach > li:hover {
    color: #dc3545;
    cursor: pointer;
    transition: all linear 0.2s;
}
.footer__btn > button {
    padding: 10px;
    background-color: #bb0909;
    outline: none;
    border: none;
    font-weight: bold;
    color: #fff;
}
.footer__btn > button:hover {
    opacity: 0.8;
}
.footer__end {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;    
}
.header__collections {
    height: 30px;
    background-color: #e7e7e7;
    padding-left: 30px;
    display: flex;
    line-height: 10px;
}
.header__collections > a {
    color: #000;
}
.header__collections > a:hover {
    text-decoration: none;
    color: #dc3545;
}
.header__danhmuc > h1 {
    margin: 30px 40px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.header__listCategoryCollection > li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
    transition: 0.4s;
}
.header__listCategoryCollection > li > a {
    text-decoration: none;
    color: #000;
    font-size: 19px;
}
.header__listCategoryCollection > li > a:hover {
    color: #dc3545;
}
.header__submenu {
    position: absolute;
    z-index: 10000;
    background-color: #fff;
    border-radius: 3px;
    padding: 30px 50px;
    display: none;
}
.header__submenu > li {
    list-style: none;
    padding: 5px 0;
}
.header__submenu > li > a {
    color: #000;
    text-decoration: none;
    display: block;
}
.header__submenu > li > a:hover {
    color: #dc3545;
}
.header__listCategory > li:hover .header__submenu {
    display: block;
}
.header__categoryCollection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    margin: 0 auto;
    width: 1440px;
}
select {
    padding: 4px;
}
.card {
    width: 390px;
    height: 100%;
    z-index: 1999999;
    padding: 20px;
    box-shadow: 0 30px 50px #ececec;
    transform: translateX(100%);
    transition: transform linear 0.2s;
}
.cart {
    color: #333;
    font-size: 19px;
}
.card__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.bx-message-square-x{
    font-size: 30px;
    cursor: pointer;
}
.card__title {
    text-align: center;
}
.bx-card-1{
    font-size: 70px;
}
.card__money {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}
.card__total {
    font-weight: bold;
    font-size: 19px;
}
.card__price {
    color: red;
    font-weight: bold;
}
.card__btn {
    text-align: center;
    margin-top: 10px;
}
.card__view button {
    background: #000;
    outline: none;
    border: none;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 90px;
    border-radius: 7px;
}
.card__view button:hover {
    opacity: 0.8;
}
.card__pay button {
    background: #000;
    outline: none;
    border: none;
    text-align: center;
    color: #fff;
    padding: 10px 100px;
    border-radius: 7px;
}
.card__pay button:hover {
    opacity: 0.8;
}
.bx-cart {
    cursor: pointer;
}
/* .nav-input:checked ~ .card {
    transform: translateX(0);
} */    
.intro__product-btn > a> button {
    background-color: #dc3545;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
}
.intro__product-btn > a> button:hover {
    opacity: 0.8;
}
.intro {
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.intro__list-product > li > a >img {
    height: 70px;
}
.intro__img-detail > a > img {
    height: 200px;
}
.intro__list-product {
    height: 440px;
    overflow-y: hidden;
}
.intro__list-product > li > a > img {
    margin: 10px 0;
}
.intro__img-detail > a > img {
    height: 451px;
    width: 440px;
}
.intro__product-info {
    width: 570px;
}
.intro__product-title {
    color: black;
    font-weight: bold;
    font-size: 21px;
}
.intro__product-brand {
    font-size: 12px;
    margin: 3px 0;
}
.intro__product-price {
    color: #000;
    font-size: 27px;
    font-weight: bold;  
    margin: 10px 0;
    border-top: 1px solid #b9b9b9;
    padding: 20px 0;
    border-bottom: 1px solid #b9b9b9;
}
.intro__product-size > p {
    font-size: 20px;
    margin-top: 20px;
}

.intro__product-size > ul > li {
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}
.intro__product-input > input {
    width: 200px;
    padding: 5px;
}
.intro__product-btn {
    margin-top: 40px;
}
.intro__product-btn > button {
    padding: 10px;
    margin: 0 5px;
    outline: none;
    border: none;
    background-color: #dc3545;
    color: #fff;
}
.intro__product-btn > button:hover {
    opacity: 0.8;
}
.introProduct {
    width: 1459px;
    background-color: #ffff;
    margin-top: 80px;
    margin: 50px auto;
    box-shadow: 0 30px 50px #CCC;
}
.introProduct__header {
    background-color: #333;
    height: 64px;
    line-height: 64px;
}
.introProduct__header > a {
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
    font-size: 19px;
    display: block;
}
.introProduct__header > a:hover {
    text-decoration: none;
    color: white;
}
.product__desc {
    box-shadow: 0 30px 50px #b9b9b9;
    padding: 20px;
}
.introProduct__desc {
    margin-top: 10px;
    line-height: 30px;
    padding: 10px 10px;
}
.header__ralate {
    background-color: #333;
    color: #fff;
    height: 64px;
    line-height: 64px;
}
.header__ralate  p {
    margin-left: 30px;
    font-size: 20px;
}
.relate__list-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0 30px;
    padding-bottom: 50px;
}
.relate {
    width: 1459px;
    background-color: #FFF;
    box-shadow: 0px 30px 50px #b9b9b9;
    margin: 50px auto;
}
.intro__product-size > ul > li:hover {
    background-color: #333;
    color: #fff;
}
.submenu {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    padding: 20px;
    min-width: 170px;
    display: none;
    }
.submenu > li {
    list-style: none;
    margin: 5px 0;
}
.submenu > li > a {
    text-decoration: none;
    color: #000;
}
.submenu > li > a:hover {
    color: #dc3545;
}
.header__listCategoryCollection >li:hover .submenu {
    display: block;
}
.list_account {
    position: relative;
}
.header-bottom {
    height: 34px;
    background-color: #E7E7E7;
    display: flex;
    align-items: center;
}
.header-bottom__home {
    margin-left: 40px;
}
.header-bottom__link {
    color: black;
}
.header-bottom__link:hover {
    color: #dc3545;
    text-decoration: none;
}
.main-cart__heading {
    height: 108px;
    text-align: center;
    margin-top: 50px;
}
.main-cart__table {
    width: 1270px;
    margin: 0 auto;
}
.main-cart__table > table {
    width: 100%;
}
.no-product {
    text-align: center;
    color: #bb0909;
    margin: 20px 0;
}
.container-pay__order {
    text-align: center;
    margin: 20px 0;
}
.main-cart__img {
    width: 102px;
    height: 96px;
    object-fit: cover;
}
th,td {
    padding: 8px;
}
.main-cart__price {
    font-size: 21px;
    font-weight: bold;
}
.main-cart__name {
    margin-left: 15px;
    font-size: 16px;
}
tbody > tr {
    /* margin-top: 10px;    */
    /* padding-top: 20px; */
    border-bottom: 1px solid #CCC;
    height: 100px;
}
.main-cart__info {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
textarea {
    width: 670px;
    height: 132px;
    background-color: #EDEDED;
    padding: 10px;
    outline: none;
    border: none;
}
.main-cart__order {
    font-size: 25px;
}
.main-cart__total {
    margin: 10px 0;
    font-size: 18px;
}
.main-cart__total-price {
    font-weight: bold;
    font-size: 28px;
}
.main-cart__pay {
    margin: 18px 0;
    text-align: center;
    width: 470px;
    height: 40px;
    background-color: #000;
    color: #FFFFFF;
}
.main-cart__pay:hover {
    opacity: 0.9;
    cursor: pointer;
}
.main-cart__link {
    color: #000;
}
.main-cart__link:hover {
    text-decoration: none;
    color: #dc3545;
}
.bx-arrow-back {
    margin-right: 3px;
    transform: translateY(3px);
    font-size: 20px;
}
.container-pay__heading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;    
}
.cart__update {
    display: flex;
    justify-content: right;
    padding-right: 50px;
}
.btn-update {
    background-color: #0B5ED7;
    color: white;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin: 20px 0;
}
.btn-update:hover {
    opacity: 0.8;
}
.container-pay__img {
    width: 150px;
    height: 120px;
    object-fit: contain;
}
.container-pay__table {
    width: 100%;
}
.container-pay__order {
    width: 1112px;
    padding: 10px;
    position: relative;
}
.container-pay__table > tbody > tr > td {
    display: flex;
}   
.container-pay__table > tbody > tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0;
    margin: 40px 0;
}
.container-pay__price {
    color: #bb0909;
    font-size: 22px;
    font-weight: bold;
}
.container-pay__quantity {
    position: absolute;
    background-color: #A3A3A3;
    color: #fff;
    padding: 2px 10px;
    border-radius: 50%;
    left: 130px;    
}
.container-pay__total {
    text-align: left;
    margin-top: 40px;
}
.main-cart__item-success i {
    font-size: 60px;
    color: #157347;
}   
.comment {
    width: 1460px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 30px 50px #CCC;
}
.comment__header {
    height: 64px;
    background-color: #333;
    line-height: 64px;

}
.comment__title {
    color: white;
    font-size: 20px;
    margin-left: 30px;
}
.comment__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #CCC;
}
.comment__quantity-comment {
    font-weight: bold;
}
.comment__write {
    padding: 0 20px;
}
.comment__item {
    width: 1400px;
    background-color: #FFF;
    margin-top: 20px;
    border-bottom: 1px solid #CCC;;
    padding-bottom: 20px;
}
.comment__input {
    width: 100%;
    height: 72px;
    padding: 10px;
    border: 1px solid #CCC;
}
.comment__btn {
    width: 100%;
    background-color: #F5F6F7;
    padding: 8px 10px;
    border: 1px solid #CCC;
    display: flex;
    justify-content: end;
}
.comment__btn button {
    outline: none;
    border: none;
    color: white;
    background-color: #4267B2;
    padding: 3px;
    border-radius: 2px;
}
.comment__btn button:hover { 
    opacity: 0.9;
}
.comment_user {
    margin-top: 30px;
    display: flex;
    padding: 0 20px;
}
.comment__img  img {
    width: 51px;
    height: 70px;   
    object-fit: contain;
}
.comment__info {
    margin-left: 8px;
}
.comment__link {
    color: #0B5ED7;
    font-weight: bold;
    text-decoration: none;
}
.comment__name,.comment__content {
    margin: 0;
}
.comment__content {
    font-size: 15px;
    margin: 2px 0;
}
.comment__body {
    padding-bottom: 20px;
}
.comment__sort {    
    border: 1px solid #CCC;
    padding: 4px;
    position: relative; 
    height: 35px;
    cursor: pointer;
}
.comment__menu-child {
    position: absolute;
    top: 112%;
    background-color: #FFF;
    width: 120px;
    box-shadow: 0 30px 50px #CCC;
    left: 0;
    border: 1px solid#CCC;
    display: none;
}
.comment__menu-child::before {
    content: "";
    width: 118px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.comment__sort:hover .comment__menu-child {
    display: block;
}
.comment__menu-child > li {
    list-style: none;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}
.comment__menu-child > li > a {
    text-decoration: none;
    color: #000;
    display: block;
}
.comment__menu-child > li > a:hover {
    color: #bb0909;
}